.git
.gitattributes
.gitignore
.dockerignore
Dockerfile
*.md
.env
.env.*
!.env.example
.idea
.vscode
node_modules
npm-debug.log
vendor
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
tests
phpunit.xml
phpunit.xml.dist
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
